docusign-connector/src/main/resources/xsds/envelope-recipient-get-activity-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://org.jitterbit.connector/docusign/enveloperecipientGetRequest">
  <xs:element name="enveloperecipientGetRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ENTITY" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="envelope_id" minOccurs="1" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>